.input_todo{
    padding: 6px;
    width: 254px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-color:#FFE4C9 ;
    border-radius: 2px;
    outline: none;
    margin-top: 385px;
    border-radius: 12px;
}

.add-btn{
    border-radius: 23px;
    padding: 12px;
    width: 50px;
    margin-left: 12px;
    font-size: 25px;
    background-color: black;
    color: white;
    
    border: none;
}

.add-btn:hover{
    color: white;
    
    .add-btn:focus{
        opacity: 34%;
    }
}
