.tasks__lists {

    height: 300px;
    width: 410px;
    position: absolute;
    margin-top: 34px;
    margin-left: 12px;
    overflow-y: auto;
    text-align: center;
    align-items: center;
    overflow: hidden;
    align-content: center;
    border-radius: 4px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}



.delete {
    margin-left: 320px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    position: fixed;


}

.delete:hover {
    color: black;
}

.divider {
    background-color: #FFF7F1;
    align-content: center;
    width: 400px;
    height: 1px;
    border-radius: 50px;
    margin-right: 170px;

}

